CLIENT_ID='example'
ISSUER_BASE_URL='https://example.com'
SECRET='a long, randomly-generated string stored in env'
DATABASE_IP='database ip'
DATABASE_PORT='database port'
DATABASE_NAME='database name'
DATABASE_USER='database user'
DATABASE_PASSWORD='database password'